body {
  margin: 0;
}
.sidebar {
  width: 160px; /* Minimized width */
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden; /* Hide content */
}
.sidebar-content {
  padding: 20px;
  padding-top: 10px;
  white-space: nowrap; /* Prevent content from wrapping */
  position: relative; /* Needed for absolute positioning of the hamburger */
}
.sidebar-content h2 {
  padding-left: 60px;	
}
.hamburger {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 2;
  background: white;
  padding: 10px;
  border-radius: 5px;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}
 .content {
  padding: 20px;
  padding-top: 0;
  margin-left: 160px; /* Match sidebar width */
}
h1 u {
  background: #ff9;
  border: solid 1px #999;
  padding-left: 2px;
  text-decoration: none;
}